a{
  text-decoration: none;
  color: inherit;
}
nav{
  height: 50px;
  padding: 0px 15px;
  position: sticky;
  top: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;

}

.socials, .profile-search{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials i{
  margin: 0px 10px;
  font-size: 20px;
  color: #444;
  cursor: pointer;
}
.nav-links{
  flex: 6;
}
.nav-links ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
.nav-links ul li{
  font-size: 20px;
  margin: 0px 10px;
}
.nav-links ul li a, .nav-links ul li span{
  color: #444;
  cursor: pointer;
  text-decoration: none;
}

.profile-img{
  margin-right: 10px;
  padding-top: 5px;
}
.profile-img img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.search-icon i{
  font-size: 18px;
}

/* ***************************************************************************** */
header{
  position: relative;
  text-align: center;
  font-family: 'Lora', serif;
}
header h3, header h1{
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}
header h1{
  font-size: 100px;
  font-weight: bold;
}
header img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(.6);
}

/* ***************************************************************** */

.home-wrapper{
  display: flex;
  padding: 50px 15px;
}

.posts{
  flex: 9;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post{
  width: 45%;
  margin: 15px;
}
.post div{
  text-align: center;
}
.post-img img{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.post-cats{
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-cats span{
  margin: 0px 8px;
  font-size: 12px;
  color: #be9656;
  font-family: 'Varela Round', sans-serif;
}
.post-title{
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0px;
  font-family: 'Josefin Sans', sans-serif;
}
.post-time{
  color: #999;
  font-size: 14px;
  font-style: italic;
  font-family: 'Lora', serif;
}
.post-desc{
  color: #444;
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: 'Varela Round', sans-serif;
}

/* **************************************************************** */
.sidebar{
  flex: 3;
  padding:10px;
  border-radius: 10px;
  background-color: #fdfbfb;
}
.sidebar-title{
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: 'Varela Round', sans-serif;
}
.sidebar-about-me img{
  width: 95%;
  margin-top: 15px;
}
.sidebar-about-me p{
  padding: 15px;
}
.sidebar-categories{
  margin: 30px 0px;
}
.sidebar-categories ul{
  list-style: none;
}
.sidebar-categories ul li{
  width: 50%;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}

.sidebar-socials{
  margin-top: 15px;
}
.sidebar-social-icons{
  margin-top: 15px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.sidebar-social-icons i:nth-child(2){
  margin: 0px 20px;
}

/* ********************************************************* */
.single-post-page{
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
}
.single-post{
  flex: 9;
}
.spost-img img{
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}
.spost-title{
  margin: 10px 0px;
  text-align: center;
  font-family: 'Lora', serif;
}
.spost-info-btns{
  margin: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Varela Round', sans-serif;
}
.spost-info{
  color: #b39656;
}
.spost-time{
  font-size: 14px;
}
.spost-author-name{
  font-weight: bold;
}
.spost-btns{
  font-size: 20px;
  cursor: pointer;
}
.spost-btns i:first-child{
  color: teal;
  margin-right: 10px;
}
.spost-btns i:last-child{
  color: tomato;
}
.spost-desc{
  font-size: 18px;
  line-height: 28px;
  font-family: 'Josefin Sans', sans-serif;
}
.spost-desc::first-letter{
  font-size: 24px;
  margin-left: 30px;
  font-weight: bold;
}

/* ************************************************************************ */
.write-page, .profile-page{
  max-width: 80vw;
  margin: auto;
}
.write-img{
  text-align: center;
}
.write-img img{
  width: 70%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.write-page form{
  margin-bottom: 20px;
}
.write-from-group{
  margin-bottom: 10px;
}
.write-from-group i{
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
}
.write-title-file{
  display: flex;
  align-items: center;
}
.write-from-group input, .write-from-group textarea{
  border: none;
  outline: none;
  padding: 10px;
}
.write-from-group input{
  font-size: 26px;
  font-weight: bold;
  flex: 1;
}
.write-from-group textarea{
  width: 100%;
  resize: vertical;
  font-size: 20px;
}
.write-submit-btn{
  margin-top: 15px;
}
.write-submit-btn button{
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 10px;
  background-color: teal;
}

/* ****************************************************************** */
.profile-page{
  display: flex;
  justify-content: space-between;
}
.profile-form{
  flex: 9;
  padding: 0 15px;
}
.profile-head-titles{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0 40px 0px;
  font-family: 'Josefin Sans', sans-serif;
}
.profile-head-titles h2{
  color: tomato;
  opacity: .8;
}
.profile-head-titles h6{
  color: red;
  cursor: pointer;
}
.profile-form-group{
  margin-bottom: 30px;
}
.profile-form-group img{
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.profile-form-group label{
  font-size: 20px;
  font-family: 'Lora', serif;
}
.profile-form-group input{
  padding: 10px;
  border: none;
  width: 100%;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #dddddd;
}
.profile-submit-button{
  text-align: center;
}
.profile-submit-button button{
  border: none;
  color: #fff;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
}

/* ********************************************************** */
.login-page, .register-page{
  min-height: calc(100vh - 50px);
  background: linear-gradient(#00000077, #00000077),  url("https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form h2, .register-form h2{
  font-size: 46px;
  margin-bottom: 25px;
  text-align: center;
  font-family: 'Lora', serif;
}
.login-form-group, .register-form-group{
  margin-bottom: 20px;
}
.login-form-group label, .register-form-group label{
  font-size: 18px;
}
.login-form-group input, .register-form-group input{
  padding: 10px;
  min-width: 300px;
  margin-top: 10px;
  outline: none;
}
.login-btn button, .register-btn button{
  width: 100%;
  color: #ffffff;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  background-color: teal;
}
.loginResText, .register-ResText{
  color: tomato;
  text-align: center;
  font-size: 18px;
}