nav{
  height: 50px;
  padding: 0px 15px;
  position: sticky;
  top: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;

}

.socials, .profile-search{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials i{
  margin: 0px 10px;
  font-size: 20px;
  color: #444;
  cursor: pointer;
}
.nav-links{
  flex: 6;
}
.nav-links ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
.nav-links ul li{
  font-size: 20px;
  margin: 0px 10px;
}
.nav-links ul li a{
  text-decoration: none;
  color: #444;
}

.profile-img{
  margin-right: 10px;
  padding-top: 5px;
}
.profile-img img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.search-icon i{
  font-size: 18px;
}

/* ***************************************************************************** */
header{
  position: relative;
  text-align: center;
  font-family: 'Lora', serif;
}
header h3, header h1{
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
header h1{
  font-size: 100px;
  font-weight: bold;
}
header img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* ***************************************************************** */

.home-wrapper{
  display: flex;
  padding: 50px 15px;
}

.posts{
  flex: 9;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post{
  width: 45%;
  margin: 15px;
}
.post div{
  text-align: center;
}
.post-img img{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.post-cats{
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-cats span{
  margin: 0px 8px;
  font-size: 12px;
  color: #be9656;
  font-family: 'Varela Round', sans-serif;
}
.post-title{
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0px;
  font-family: 'Josefin Sans', sans-serif;
}
.post-time{
  color: #999;
  font-size: 14px;
  font-style: italic;
  font-family: 'Lora', serif;
}
.post-desc{
  color: #444;
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: 'Varela Round', sans-serif;
}

/* **************************************************************** */
.sidebar{
  flex: 3;
  padding:10px;
  border-radius: 10px;
  background-color: #fdfbfb;
}
.sidebar-title{
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: 'Varela Round', sans-serif;
}
.sidebar-about-me img{
  width: 95%;
  margin-top: 15px;
}
.sidebar-about-me p{
  padding: 15px;
}
.sidebar-categories{
  margin: 30px 0px;
}
.sidebar-categories ul{
  list-style: none;
}
.sidebar-categories ul li{
  width: 50%;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}

.sidebar-socials{
  margin-top: 15px;
}
.sidebar-social-icons{
  margin-top: 15px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.sidebar-social-icons i:nth-child(2){
  margin: 0px 20px;
}

/* ********************************************************* */
.single-post-page{
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
}
.single-post{
  flex: 9;
}
.spost-img img{
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}
.spost-title{
  margin: 10px 0px;
  text-align: center;
  font-family: 'Lora', serif;
}
.spost-info-btns{
  margin: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Varela Round', sans-serif;
}
.spost-info{
  color: #b39656;
}
.spost-time{
  font-size: 14px;
}
.spost-author-name{
  font-weight: bold;
}
.spost-btns{
  font-size: 20px;
  cursor: pointer;
}
.spost-btns i:first-child{
  color: teal;
  margin-right: 10px;
}
.spost-btns i:last-child{
  color: tomato;
}
.spost-desc{
  font-size: 18px;
  line-height: 28px;
  font-family: 'Josefin Sans', sans-serif;
}
.spost-desc::first-letter{
  font-size: 24px;
  margin-left: 30px;
  font-weight: bold;
}